#################
## CCS
#################



.metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
#.settings/
.loadpath


# PDT-specific
.buildpath

.launches/
Debug/
Release/
targetConfigs/

